
.w-5pro {
    width: 5% !important;
}
.w-6pro {
    width: 6% !important;
}
.w-7pro {
    width: 7% !important;
}
.w-8pro {
    width: 8% !important;
}
.w-9pro {
    width: 9% !important;
}
.w-10pro {
    width: 10% !important;
}
.w-11pro {
    width: 11% !important;
}
.w-12pro {
    width: 12% !important;
}
.w-13pro {
    width: 13% !important;
}
.w-14pro {
    width: 14% !important;
}
.w-15pro {
    width: 15% !important;
}
.w-16pro {
    width: 16% !important;
}
.w-17pro {
    width: 17% !important;
}
.w-18pro {
    width: 18% !important;
}
.w-19pro {
    width: 19% !important;
}
.w-20pro {
    width: 20% !important;
}
.w-21pro {
    width: 21% !important;
}
.w-22pro {
    width: 22% !important;
}
.w-23pro {
    width: 23% !important;
}
.w-24pro {
    width: 24% !important;
}
.w-25pro {
    width: 25% !important;
}
.w-26pro {
    width: 26% !important;
}
.w-27pro {
    width: 27% !important;
}
.w-28pro {
    width: 28% !important;
}
.w-29pro {
    width: 29% !important;
}
.w-30pro {
    width: 30% !important;
}
.w-31pro {
    width: 31% !important;
}
.w-32pro {
    width: 32% !important;
}
.w-33pro {
    width: 33% !important;
}
.w-34pro {
    width: 34% !important;
}
.w-35pro {
    width: 35% !important;
}
.w-36pro {
    width: 36% !important;
}
.w-37pro {
    width: 37% !important;
}
.w-38pro {
    width: 38% !important;
}
.w-39pro {
    width: 39% !important;
}
.w-40pro {
    width: 40% !important;
}
.w-41pro {
    width: 41% !important;
}
.w-42pro {
    width: 42% !important;
}
.w-43pro {
    width: 43% !important;
}
.w-44pro {
    width: 44% !important;
}
.w-45pro {
    width: 45% !important;
}
.w-46pro {
    width: 46% !important;
}
.w-47pro {
    width: 47% !important;
}
.w-48pro {
    width: 48% !important;
}
.w-49pro {
    width: 49% !important;
}
.w-50pro {
    width: 50% !important;
}
.w-51pro {
    width: 51% !important;
}
.w-52pro {
    width: 52% !important;
}
.w-53pro {
    width: 53% !important;
}
.w-54pro {
    width: 54% !important;
}
.w-55pro {
    width: 55% !important;
}
.w-56pro {
    width: 56% !important;
}
.w-57pro {
    width: 57% !important;
}
.w-58pro {
    width: 58% !important;
}
.w-59pro {
    width: 59% !important;
}
.w-60pro {
    width: 60% !important;
}
.w-61pro {
    width: 61% !important;
}
.w-62pro {
    width: 62% !important;
}
.w-63pro {
    width: 63% !important;
}
.w-64pro {
    width: 64% !important;
}
.w-65pro {
    width: 65% !important;
}
.w-66pro {
    width: 66% !important;
}
.w-67pro {
    width: 67% !important;
}
.w-68pro {
    width: 68% !important;
}
.w-69pro {
    width: 69% !important;
}
.w-70pro {
    width: 70% !important;
}
.w-71pro {
    width: 71% !important;
}
.w-72pro {
    width: 72% !important;
}
.w-73pro {
    width: 73% !important;
}
.w-74pro {
    width: 74% !important;
}
.w-75pro {
    width: 75% !important;
}
.w-76pro {
    width: 76% !important;
}
.w-77pro {
    width: 77% !important;
}
.w-78pro {
    width: 78% !important;
}
.w-79pro {
    width: 79% !important;
}
.w-80pro {
    width: 80% !important;
}
.w-81pro {
    width: 81% !important;
}
.w-82pro {
    width: 82% !important;
}
.w-83pro {
    width: 83% !important;
}
.w-84pro {
    width: 84% !important;
}
.w-85pro {
    width: 85% !important;
}
.w-86pro {
    width: 86% !important;
}
.w-87pro {
    width: 87% !important;
}
.w-88pro {
    width: 88% !important;
}
.w-89pro {
    width: 89% !important;
}


.w-90pro {
    width: 90% !important;
}
.w-91pro {
    width: 91% !important;
}
.w-92pro {
    width: 92% !important;
}
.w-93pro {
    width: 93% !important;
}
.w-94pro {
    width: 94% !important;
}
.w-95pro {
    width: 95% !important;
}
.w-96pro {
    width: 96% !important;
}
.w-97pro {
    width: 97% !important;
}
.w-98pro {
    width: 98% !important;
}
.w-99pro {
    width: 99% !important;
}
.w-100pro {
    width: 100% !important;
}


/* height */


.h-5pro {
    height: 5% !important;
}
.h-6pro {
    height: 6% !important;
}
.h-7pro {
    height: 7% !important;
}
.h-8pro {
    height: 8% !important;
}
.h-9pro {
    height: 9% !important;
}
.h-10pro {
    height: 10% !important;
}
.h-11pro {
    height: 11% !important;
}
.h-12pro {
    height: 12% !important;
}
.h-13pro {
    height: 13% !important;
}
.h-14pro {
    height: 14% !important;
}
.h-15pro {
    height: 15% !important;
}
.h-16pro {
    height: 16% !important;
}
.h-17pro {
    height: 17% !important;
}
.h-18pro {
    height: 18% !important;
}
.h-19pro {
    height: 19% !important;
}
.h-20pro {
    height: 20% !important;
}
.h-21pro {
    height: 21% !important;
}
.h-22pro {
    height: 22% !important;
}
.h-23pro {
    height: 23% !important;
}
.h-24pro {
    height: 24% !important;
}
.h-25pro {
    height: 25% !important;
}
.h-26pro {
    height: 26% !important;
}
.h-27pro {
    height: 27% !important;
}
.h-28pro {
    height: 28% !important;
}
.h-29pro {
    height: 29% !important;
}
.h-30pro {
    height: 30% !important;
}
.h-31pro {
    height: 31% !important;
}
.h-32pro {
    height: 32% !important;
}
.h-33pro {
    height: 33% !important;
}
.h-34pro {
    height: 34% !important;
}
.h-35pro {
    height: 35% !important;
}
.h-36pro {
    height: 36% !important;
}
.h-37pro {
    height: 37% !important;
}
.h-38pro {
    height: 38% !important;
}
.h-39pro {
    height: 39% !important;
}
.h-40pro {
    height: 40% !important;
}
.h-41pro {
    height: 41% !important;
}
.h-42pro {
    height: 42% !important;
}
.h-43pro {
    height: 43% !important;
}
.h-44pro {
    height: 44% !important;
}
.h-45pro {
    height: 45% !important;
}
.h-46pro {
    height: 46% !important;
}
.h-47pro {
    height: 47% !important;
}
.h-48pro {
    height: 48% !important;
}
.h-49pro {
    height: 49% !important;
}
.h-50pro {
    height: 50% !important;
}
.h-51pro {
    height: 51% !important;
}
.h-52pro {
    height: 52% !important;
}
.h-53pro {
    height: 53% !important;
}
.h-54pro {
    height: 54% !important;
}
.h-55pro {
    height: 55% !important;
}
.h-56pro {
    height: 56% !important;
}
.h-57pro {
    height: 57% !important;
}
.h-58pro {
    height: 58% !important;
}
.h-59pro {
    height: 59% !important;
}
.h-60pro {
    height: 60% !important;
}
.h-61pro {
    height: 61% !important;
}
.h-62pro {
    height: 62% !important;
}
.h-63pro {
    height: 63% !important;
}
.h-64pro {
    height: 64% !important;
}
.h-65pro {
    height: 65% !important;
}
.h-66pro {
    height: 66% !important;
}
.h-67pro {
    height: 67% !important;
}
.h-68pro {
    height: 68% !important;
}
.h-69pro {
    height: 69% !important;
}
.h-70pro {
    height: 70% !important;
}
.h-71pro {
    height: 71% !important;
}
.h-72pro {
    height: 72% !important;
}
.h-73pro {
    height: 73% !important;
}
.h-74pro {
    height: 74% !important;
}
.h-75pro {
    height: 75% !important;
}
.h-76pro {
    height: 76% !important;
}
.h-77pro {
    height: 77% !important;
}
.h-78pro {
    height: 78% !important;
}
.h-79pro {
    height: 79% !important;
}
.h-80pro {
    height: 80% !important;
}
.h-81pro {
    height: 81% !important;
}
.h-82pro {
    height: 82% !important;
}
.h-83pro {
    height: 83% !important;
}
.h-84pro {
    height: 84% !important;
}
.h-85pro {
    height: 85% !important;
}
.h-86pro {
    height: 86% !important;
}
.h-87pro {
    height: 87% !important;
}
.h-88pro {
    height: 88% !important;
}
.h-89pro {
    height: 89% !important;
}


.h-90pro {
    height: 90% !important;
}
.h-91pro {
    height: 91% !important;
}
.h-92pro {
    height: 92% !important;
}
.h-93pro {
    height: 93% !important;
}
.h-94pro {
    height: 94% !important;
}
.h-95pro {
    height: 95% !important;
}
.h-96pro {
    height: 96% !important;
}
.h-97pro {
    height: 97% !important;
}
.h-98pro {
    height: 98% !important;
}
.h-99pro {
    height: 99% !important;
}
.h-100pro {
    height: 100% !important;
}


@media screen and (max-width: 1024px) {
    
.sp-w-5pro {
    width: 5% !important;
}
.sp-w-6pro {
    width: 6% !important;
}
.sp-w-7pro {
    width: 7% !important;
}
.sp-w-8pro {
    width: 8% !important;
}
.sp-w-9pro {
    width: 9% !important;
}
.sp-w-10pro {
    width: 10% !important;
}
.sp-w-11pro {
    width: 11% !important;
}
.sp-w-12pro {
    width: 12% !important;
}
.sp-w-13pro {
    width: 13% !important;
}
.sp-w-14pro {
    width: 14% !important;
}
.sp-w-15pro {
    width: 15% !important;
}
.sp-w-16pro {
    width: 16% !important;
}
.sp-w-17pro {
    width: 17% !important;
}
.sp-w-18pro {
    width: 18% !important;
}
.sp-w-19pro {
    width: 19% !important;
}
.sp-w-20pro {
    width: 20% !important;
}
.sp-w-21pro {
    width: 21% !important;
}
.sp-w-22pro {
    width: 22% !important;
}
.sp-w-23pro {
    width: 23% !important;
}
.sp-w-24pro {
    width: 24% !important;
}
.sp-w-25pro {
    width: 25% !important;
}
.sp-w-26pro {
    width: 26% !important;
}
.sp-w-27pro {
    width: 27% !important;
}
.sp-w-28pro {
    width: 28% !important;
}
.sp-w-29pro {
    width: 29% !important;
}
.sp-w-30pro {
    width: 30% !important;
}
.sp-w-31pro {
    width: 31% !important;
}
.sp-w-32pro {
    width: 32% !important;
}
.sp-w-33pro {
    width: 33% !important;
}
.sp-w-34pro {
    width: 34% !important;
}
.sp-w-35pro {
    width: 35% !important;
}
.sp-w-36pro {
    width: 36% !important;
}
.sp-w-37pro {
    width: 37% !important;
}
.sp-w-38pro {
    width: 38% !important;
}
.sp-w-39pro {
    width: 39% !important;
}
.sp-w-40pro {
    width: 40% !important;
}
.sp-w-41pro {
    width: 41% !important;
}
.sp-w-42pro {
    width: 42% !important;
}
.sp-w-43pro {
    width: 43% !important;
}
.sp-w-44pro {
    width: 44% !important;
}
.sp-w-45pro {
    width: 45% !important;
}
.sp-w-46pro {
    width: 46% !important;
}
.sp-w-47pro {
    width: 47% !important;
}
.sp-w-48pro {
    width: 48% !important;
}
.sp-w-49pro {
    width: 49% !important;
}
.sp-w-50pro {
    width: 50% !important;
}
.sp-w-51pro {
    width: 51% !important;
}
.sp-w-52pro {
    width: 52% !important;
}
.sp-w-53pro {
    width: 53% !important;
}
.sp-w-54pro {
    width: 54% !important;
}
.sp-w-55pro {
    width: 55% !important;
}
.sp-w-56pro {
    width: 56% !important;
}
.sp-w-57pro {
    width: 57% !important;
}
.sp-w-58pro {
    width: 58% !important;
}
.sp-w-59pro {
    width: 59% !important;
}
.sp-w-60pro {
    width: 60% !important;
}
.sp-w-61pro {
    width: 61% !important;
}
.sp-w-62pro {
    width: 62% !important;
}
.sp-w-63pro {
    width: 63% !important;
}
.sp-w-64pro {
    width: 64% !important;
}
.sp-w-65pro {
    width: 65% !important;
}
.sp-w-66pro {
    width: 66% !important;
}
.sp-w-67pro {
    width: 67% !important;
}
.sp-w-68pro {
    width: 68% !important;
}
.sp-w-69pro {
    width: 69% !important;
}
.sp-w-70pro {
    width: 70% !important;
}
.sp-w-71pro {
    width: 71% !important;
}
.sp-w-72pro {
    width: 72% !important;
}
.sp-w-73pro {
    width: 73% !important;
}
.sp-w-74pro {
    width: 74% !important;
}
.sp-w-75pro {
    width: 75% !important;
}
.sp-w-76pro {
    width: 76% !important;
}
.sp-w-77pro {
    width: 77% !important;
}
.sp-w-78pro {
    width: 78% !important;
}
.sp-w-79pro {
    width: 79% !important;
}
.sp-w-80pro {
    width: 80% !important;
}
.sp-w-81pro {
    width: 81% !important;
}
.sp-w-82pro {
    width: 82% !important;
}
.sp-w-83pro {
    width: 83% !important;
}
.sp-w-84pro {
    width: 84% !important;
}
.sp-w-85pro {
    width: 85% !important;
}
.sp-w-86pro {
    width: 86% !important;
}
.sp-w-87pro {
    width: 87% !important;
}
.sp-w-88pro {
    width: 88% !important;
}
.sp-w-89pro {
    width: 89% !important;
}


.sp-w-90pro {
    width: 90% !important;
}
.sp-w-91pro {
    width: 91% !important;
}
.sp-w-92pro {
    width: 92% !important;
}
.sp-w-93pro {
    width: 93% !important;
}
.sp-w-94pro {
    width: 94% !important;
}
.sp-w-95pro {
    width: 95% !important;
}
.sp-w-96pro {
    width: 96% !important;
}
.sp-w-97pro {
    width: 97% !important;
}
.sp-w-98pro {
    width: 98% !important;
}
.sp-w-99pro {
    width: 99% !important;
}
.sp-w-100pro {
    width: 100% !important;
}


/* height */


.sp-h-5pro {
    height: 5% !important;
}
.sp-h-6pro {
    height: 6% !important;
}
.sp-h-7pro {
    height: 7% !important;
}
.sp-h-8pro {
    height: 8% !important;
}
.sp-h-9pro {
    height: 9% !important;
}
.sp-h-10pro {
    height: 10% !important;
}
.sp-h-11pro {
    height: 11% !important;
}
.sp-h-12pro {
    height: 12% !important;
}
.sp-h-13pro {
    height: 13% !important;
}
.sp-h-14pro {
    height: 14% !important;
}
.sp-h-15pro {
    height: 15% !important;
}
.sp-h-16pro {
    height: 16% !important;
}
.sp-h-17pro {
    height: 17% !important;
}
.sp-h-18pro {
    height: 18% !important;
}
.sp-h-19pro {
    height: 19% !important;
}
.sp-h-20pro {
    height: 20% !important;
}
.sp-h-21pro {
    height: 21% !important;
}
.sp-h-22pro {
    height: 22% !important;
}
.sp-h-23pro {
    height: 23% !important;
}
.sp-h-24pro {
    height: 24% !important;
}
.sp-h-25pro {
    height: 25% !important;
}
.sp-h-26pro {
    height: 26% !important;
}
.sp-h-27pro {
    height: 27% !important;
}
.sp-h-28pro {
    height: 28% !important;
}
.sp-h-29pro {
    height: 29% !important;
}
.sp-h-30pro {
    height: 30% !important;
}
.sp-h-31pro {
    height: 31% !important;
}
.sp-h-32pro {
    height: 32% !important;
}
.sp-h-33pro {
    height: 33% !important;
}
.sp-h-34pro {
    height: 34% !important;
}
.sp-h-35pro {
    height: 35% !important;
}
.sp-h-36pro {
    height: 36% !important;
}
.sp-h-37pro {
    height: 37% !important;
}
.sp-h-38pro {
    height: 38% !important;
}
.sp-h-39pro {
    height: 39% !important;
}
.sp-h-40pro {
    height: 40% !important;
}
.sp-h-41pro {
    height: 41% !important;
}
.sp-h-42pro {
    height: 42% !important;
}
.sp-h-43pro {
    height: 43% !important;
}
.sp-h-44pro {
    height: 44% !important;
}
.sp-h-45pro {
    height: 45% !important;
}
.sp-h-46pro {
    height: 46% !important;
}
.sp-h-47pro {
    height: 47% !important;
}
.sp-h-48pro {
    height: 48% !important;
}
.sp-h-49pro {
    height: 49% !important;
}
.sp-h-50pro {
    height: 50% !important;
}
.sp-h-51pro {
    height: 51% !important;
}
.sp-h-52pro {
    height: 52% !important;
}
.sp-h-53pro {
    height: 53% !important;
}
.sp-h-54pro {
    height: 54% !important;
}
.sp-h-55pro {
    height: 55% !important;
}
.sp-h-56pro {
    height: 56% !important;
}
.sp-h-57pro {
    height: 57% !important;
}
.sp-h-58pro {
    height: 58% !important;
}
.sp-h-59pro {
    height: 59% !important;
}
.sp-h-60pro {
    height: 60% !important;
}
.sp-h-61pro {
    height: 61% !important;
}
.sp-h-62pro {
    height: 62% !important;
}
.sp-h-63pro {
    height: 63% !important;
}
.sp-h-64pro {
    height: 64% !important;
}
.sp-h-65pro {
    height: 65% !important;
}
.sp-h-66pro {
    height: 66% !important;
}
.sp-h-67pro {
    height: 67% !important;
}
.sp-h-68pro {
    height: 68% !important;
}
.sp-h-69pro {
    height: 69% !important;
}
.sp-h-70pro {
    height: 70% !important;
}
.sp-h-71pro {
    height: 71% !important;
}
.sp-h-72pro {
    height: 72% !important;
}
.sp-h-73pro {
    height: 73% !important;
}
.sp-h-74pro {
    height: 74% !important;
}
.sp-h-75pro {
    height: 75% !important;
}
.sp-h-76pro {
    height: 76% !important;
}
.sp-h-77pro {
    height: 77% !important;
}
.sp-h-78pro {
    height: 78% !important;
}
.sp-h-79pro {
    height: 79% !important;
}
.sp-h-80pro {
    height: 80% !important;
}
.sp-h-81pro {
    height: 81% !important;
}
.sp-h-82pro {
    height: 82% !important;
}
.sp-h-83pro {
    height: 83% !important;
}
.sp-h-84pro {
    height: 84% !important;
}
.sp-h-85pro {
    height: 85% !important;
}
.sp-h-86pro {
    height: 86% !important;
}
.sp-h-87pro {
    height: 87% !important;
}
.sp-h-88pro {
    height: 88% !important;
}
.sp-h-89pro {
    height: 89% !important;
}


.sp-h-90pro {
    height: 90% !important;
}
.sp-h-91pro {
    height: 91% !important;
}
.sp-h-92pro {
    height: 92% !important;
}
.sp-h-93pro {
    height: 93% !important;
}
.sp-h-94pro {
    height: 94% !important;
}
.sp-h-95pro {
    height: 95% !important;
}
.sp-h-96pro {
    height: 96% !important;
}
.sp-h-97pro {
    height: 97% !important;
}
.sp-h-98pro {
    height: 98% !important;
}
.sp-h-99pro {
    height: 99% !important;
}
.sp-h-100pro {
    height: 100% !important;
}
.sp-w-full {
    width: 100%!important;
}
}